<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collectionx">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollectionX">
        <activity
            android:name=".FunnyActivity"
            android:exported="false" />
        <activity
            android:name=".ToActivity"
            android:exported="false" />
        <activity
            android:name=".ArcActivity"
            android:exported="false" />
        <activity
            android:name=".PhoActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FasActivity"
            android:exported="false" />
        <activity
            android:name=".ResActivity"
            android:exported="false" />
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ChartActivity"
            android:exported="false" />
        <activity
            android:name=".ThingsToDoActivity"
            android:exported="false" />
        <activity
            android:name=".ArchitectureActivity"
            android:exported="false" />
        <activity
            android:name=".PhotographyActivity"
            android:exported="false" />
        <activity
            android:name=".FashionActivity"
            android:exported="false" />
        <activity
            android:name=".RestuarantActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ThingsActivity" />
        <activity android:name=".CustomPhotography" />
        <activity android:name=".ResLayoutActivity" />
        <activity android:name=".FashionCustomActivity" />
        <activity android:name=".ArchitectureCustom" />
    </application>

</manifest>